h1{
  font-family: 'Kaushan Script', cursive;
  color: white;
  font-size: 48px;
  font-weight: bold;
}

body {
  font-family: Palatino;
  background-image: url("book.jpeg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-weight: bold;
  font-size: 24px;
  color: red;
  margin-left: 20px;
}

input[type=text], select {
    size: 100% 100%;
    padding: 6px 10px;
    margin: 5px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 2px;
    box-sizing: border-box;
    font-family: Palatino;
    font-size: 18px;
}

input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    font-weight: bold;
    font-size: 14px;
    padding: 14px 20px;
    margin: 10px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

div {
    border-radius: 10px;
    background-color: #f2f2f2;
    padding: 10spx;
  }

  form {
    width: 25%;
    height: 10%
    color: red;
    font-family: 'Kaushan Script', cursive;
  }
